<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
	<head>
		<title>
			<%= title %>
		</title>
		<base href="/">
	<link href="/css/app.css" rel="stylesheet">	
	</head>
	<body class="view-container">
		<section ng-view class="view-frame container" ></section>
<!-- 		<iframe src="https://drive.google.com/file/d/0B6r0C1lNM39ER2tqYUp6a2hHY0E/preview" width="640" height="480"></iframe> -->
		<script type="text/javascript">
			window.user = <%- user || 'null' %>;
			var mql = window.matchMedia("(min-width: 600px)");
			mql.addListener(handleMQ);
			function handleMQ(mql) {
				if (mql.matches) {
					console.log('at least 600');
				} else {
					console.log('below 400');
				}
			}
		</script>
		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" src="/lib/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="/lib/ng-file-upload/angular-file-upload.min.js"></script>
		<script type="text/javascript" src="/directives/videos.client.directives.js"></script>		
		<script type="text/javascript" src="/animations/global.client.animations.js"></script>
		<script type="text/javascript" src="/girls/girls.client.module.js"></script>
		<script type="text/javascript" src="/girls/services/girls.client.services.js"></script>
		<script type="text/javascript" src="/girls/controllers/girls.client.controller.js"></script>

		<script type="text/javascript" src="/videos/videos.client.module.js"></script>
		<script type="text/javascript" src="/videos/services/videos.client.services.js"></script>
		<script type="text/javascript" src="/videos/controllers/videos.client.controller.js"></script>

		<script type="text/javascript" src="/videos/config/videos.client.routes.js"></script>

		<script type="text/javascript" src="/users/users.client.module.js"></script>
		<script type="text/javascript" src="/users/services/authentication.client.services.js"></script>
		<script type="text/javascript" src="/example/example.client.module.js"></script>
		<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
		<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

		<!--Bootstrap AngularJS Application -->
		<script type="text/javascript" src="/application.js"></script>
	</body>
</html>